@import "../../styles/main-theme.scss";
@import "../../styles/fonts.scss";

.container-fluid {
    background-color: $black;
}

.navbar-default {
    background-color: $primary-light;
    border: 2px solid $primary-light;
    font-family: $semi-bold;
}

.navbar-brand {
    font-family: $semi-bold;
    color: $primary-light;

    &:hover {
        color: $primary-light;
        text-shadow: 1px 1px 2px $gray-light;
    }

    &:focus {
        font-family: $semi-bold;
        color: $primary-light;
    }
}

$transition-duration: 0.4s;
#app-navigations > li {
    transition: all $transition-duration ease-in-out;

    &:hover {
        background-color: $primary-light;
        transition-duration: $transition-duration;
    }

    > a {
        font-family: $semi-bold;

        color: $secondary-light;
        text-shadow: 1px 1px 2px $gray-light;
    
        border-radius: 7px;
    }

    &:hover > a {
        background-color: inherit;
        color: $white;
        text-shadow: 1px 1px 2px $gray-dark;
        transition-duration: $transition-duration;
    }
}

li.app-navigation-active {
    background-color: $primary-light;

    & > a {
        background-color: $black;
        border-left: solid 1px $primary-light;
        border-right: solid 1px $primary-light;
    }
}
