<a
    routerLink="./"
    class="list-group-item clearfix app-list-item"
    [ngClass]="{
        fire: card.isCardFromCivilization('fire'),
        water: card.isCardFromCivilization('water'),
        nature: card.isCardFromCivilization('nature'),
        light: card.isCardFromCivilization('light'),
        darkness: card.isCardFromCivilization('darkness'),
        none: !card.isCardFromAnyCivilization()
    }"
    appOpacity
    [defaultOpacity]="1"
    [hoverOpacity]="0.9"
    >
    <span class="pull-left">
        <img
            [src]="this.getManaCostImg()"
            alt="{{this.card.manaCost}}"
            class="img-responsive"
            style="max-height: 10px"
        >
    </span>
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{this.card.name}}</h4>
        <p class="list-group-item-text">{{this.card.race}}</p>
    </div>
</a>
