<div class="row">
    <div 
        *ngIf="canCreateNewDeck()"
        class="col-xs-7"
    >
        <button class="button btn-success">
            New Deck
        </button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <a
            routerLink="./"
            class="list-group-item clearfix"
            *ngFor="let deck of decks"
            [ngClass]="{
                fire: coverCardFromCivilization(deck, 'fire'),
                water: coverCardFromCivilization(deck, 'water'),
                nature: coverCardFromCivilization(deck, 'nature'),
                light: coverCardFromCivilization(deck, 'light'),
                darkness: coverCardFromCivilization(deck, 'darkness'),
                none: !coverCardFromAnyCivilization(deck)
            }"
            [ngStyle]="{
                'cursor': pointer
            }"
            appOpacity
        >
            <span class="pull-left">
                <img
                    [src]="deck.coverCardImgUrl"
                    alt="{{deck.name}}"
                    class="img-responsive"
                    style="max-height: 50px"
                >
            </span>
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{deck.name}}</h4>
                <p class="list-group-item-text">{{deck.tournamentId}}</p>
            </div>
        </a>
        <app-deck-item/>
    </div>
</div>