.fire {
    background-color: red;
}

.fire:hover {
    background-color: red;
}

.water {
    background-color: blue;
}

.water:hover {
    background-color: blue;
}

.nature {
    background-color: green;    
}

.nature:hover {
    background-color: green;
}

.light {
    background-color: yellow;
}

.light:hover {
    background-color: yellow;
}

.darkness {
    background-color: gray;
}

.darkness:hover {
    background-color: gray;
}

.none {
    background-color: transparent;
}

.none:hover {
    background-color: transparent;
}
