@import "../../../styles.scss";
@import "../../../fonts.scss";

#form-page {
    padding-top: 50px;
    border-radius: 10%;
}

form {
    background-color: $indigo-light;
    padding-left: 20px;
    padding-top: 2px;

    & > * {
        background-color: $indigo-light;
        width: 100%;
    }
}

section label {
    margin-top: 10px;    
    font-family: $regular;
    font-size: x-large;
    vertical-align: middle;
}

section input {
    margin-top: 10px;    
}

section > h2 {
    margin-top: 15px;
    font-family: $semi-bold;
    font-size: xx-large;
    height: 135%;
    vertical-align: middle;
}

.tier-label {
    margin-top: 10px;
    text-align: right;
    vertical-align: middle;
}

#top-text {
    padding-top: 20px;
}

#button-row {
    padding-bottom: 30px;
}
