<div
    class="row"
    id="form-page"
>
    <div class="col-xs-12">
        <div class="row app-page-title-container" id="tournament-form-title-container">
            <h1
                class="col-lg-12 text-center app-page-title"
                id="tournament-form-title"
            >
                Host your tournament!
            </h1>
        </div>

        <form>
            <section>
                <h2 class="text-center">
                    General
                </h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 form-group text-center">
                        <label for="name">
                            Name
                        </label>
                        <input
                            type="text"
                            id="name"
                            class="form-control"
                            [(ngModel)]="tournament.name"
                            name="name"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-4 form-group text-center">
                        <label for="shortDescription">
                            Short Description
                        </label>
                        <input
                            type="text"
                            id="shortDescription"
                            class="form-control"
                            [(ngModel)]="tournament.shortDescription"
                            name="shortDescription"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-4 form-group text-center">
                        <label for="description">
                            Description
                        </label>
                        <textarea
                            id="description"
                            class="form-control"
                            [(ngModel)]="tournament.description"
                            name="description"
                        >
                        </textarea>
                    </div>
                </div>
            </section>


            <section>
                <h2 class="text-center">
                    Draft Configurations
                </h2>
                <div class="row">
                    <div class="col-xs-2 form-group text-center">
                        <label for="draft">
                            Draft
                        </label>
                        <input
                            type="checkbox"
                            id="draft"
                            class="form-control"
                            [(ngModel)]="tournament.draft"
                            name="draft"
                        >
                    </div>
                    <div class="col-xs-5 form-group text-center">
                        <label for="draftPickCount">
                            Draft Pick Count
                        </label>
                        <input
                            type="number"
                            id="draftPickCount"
                            class="form-control"
                            [(ngModel)]="tournament.draftPickCount"
                            name="draftPickCount"
                            [disabled]="!tournament.draft"
                        >
                    </div>
                    <div class="col-xs-5 form-group text-center">
                        <label for="draftPickDropped">
                            Draft Pick Dropped
                        </label>
                        <input
                            type="number"
                            id="draftPickDropped"
                            class="form-control"
                            [(ngModel)]="tournament.draftPickDropped"
                            name="draftPickDropped"
                            [disabled]="!tournament.draft"
                        >
                    </div>
                </div>
            </section>


            <section id="pool-deck-management">
                <h2 class="text-center">
                    Pool & Deck Management
                </h2>
                <div class="row">
                    <div class="col-xs-6 form-group text-center">
                        <label for="sharedPool">
                            Shared Pool
                        </label>
                        <input
                            type="checkbox"
                            id="sharedPool"
                            class="form-control"
                            [(ngModel)]="tournament.sharedPool"
                            name="sharedPool"
                            [disabled]="tournament.draft"
                        >
                    </div>
                    <div class="col-xs-6 form-group text-center">
                        <label for="fixedDecks">
                            Fixed Decks
                        </label>
                        <input
                            type="checkbox"
                            id="fixedDecks"
                            class="form-control"
                            [(ngModel)]="tournament.fixedDecks"
                            name="fixedDecks"
                            [disabled]="tournament.draft"
                        >
                    </div>
                </div>
            </section>


            <section>
                <h2 class="text-center">
                    Initial Pool Configurations
                </h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 form-group text-center">
                        <label for="initialPoolLowerSize">
                            Initial Pool Lower Size
                        </label>
                        <input 
                            type="number" 
                            id="initialPoolLowerSize" 
                            class="form-control" 
                            [(ngModel)]="tournament.initialPoolLowerSize" 
                            name="initialPoolLowerSize"
                        >                        
                    </div>
                    <div class="col-xs-12 col-sm-3 form-group text-center">
                        <label for="initialPoolUpperSize">
                            Initial Pool Upper Size
                        </label>
                        <input 
                            type="number"
                            id="initialPoolUpperSize"
                            class="form-control"
                            [(ngModel)]="tournament.initialPoolUpperSize"
                            name="initialPoolUpperSize"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-3 form-group text-center">
                        <label for="initialPoolUpperSize">
                            Initial Pool Max Reset Times
                        </label>
                        <input 
                            type="number"
                            id="initialPoolMaxResetTimes"
                            class="form-control"
                            [(ngModel)]="tournament.initialPoolMaxResetTimes"
                            name="initialPoolMaxResetTimes"
                        >
                    </div>
                    <div class="col-xs-12 col-sm-3 form-group text-center">
                        <label for="defineTiers">
                            Define Tiers
                        </label>
                        <input 
                            type="checkbox"
                            id="defineTiers"
                            class="form-control"
                            [(ngModel)]="tournament.defineTiers"
                            name="defineTiers"
                        >
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <label for="cardsInPoolOfTier">
                            Cards in Pool Of Tier:
                        </label>
                    </div>

                    <div class="col-xs-2" *ngFor="let tier of Object.keys(tournament.cardsInPoolOfTier)">
                        <div class="row tier-container">
                            <label class="col-xs-2 tier-label">
                                {{tier}}:
                            </label>
                            <div class="col-xs-10">
                                <input
                                    type="number"
                                    id="cardsInPoolOfTier"
                                    class="form-control"
                                    [(ngModel)]="tournament.cardsInPoolOfTier[tier]"
                                    name="cardsInPoolOfTier"
                                    [disabled]="!tournament.defineTiers"
                                >
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <label for="cardsInPoolOfTier">
                            Max Card Copies Of Tier:
                        </label>
                    </div>

                    <div class="col-xs-2" *ngFor="let tier of Object.keys(tournament.maxCardCopiesOfTier)">
                        <div class="row tier-container">
                            <label class="col-xs-2 tier-label">
                                {{tier}}:
                            </label>
                            <div class="col-xs-10">
                                <input
                                    type="number"
                                    id="maxCardCopiesOfTier"
                                    class="form-control"
                                    [(ngModel)]="tournament.maxCardCopiesOfTier[tier]"
                                    name="maxCardCopiesOfTier"
                                    [disabled]="!tournament.defineTiers"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <h2 class="text-center">
                    General Pool Configurations
                </h2>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {{tournament.allowedSets}}
                    </div>
                </div>
            </section>


            <section>
                <h2 class="text-center">
                    Deck Building Configurations
                </h2>
                <div class="row">
                    <div class="col-xs-6 form-group text-center">
                        <label for="onlyMonoDecks">
                            Only Mono Decks
                        </label>
                        <input 
                            type="checkbox"
                            id="onlyMonoDecks"
                            class="form-control"
                            [(ngModel)]="tournament.onlyMonoDecks"
                            name="onlyMonoDecks"
                        >
                    </div>
                    <div class="col-xs-6 form-group text-center">
                        <label for="deckMaxSize">
                            Deck Max Size
                        </label>
                        <input 
                            type="number"
                            id="deckMaxSize"
                            class="form-control"
                            [(ngModel)]="tournament.deckMaxSize"
                            name="deckMaxSize"
                        >
                    </div>
                </div>
            </section>


            <section>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 form-group text-center">
                        <label for="registerStartTime">
                            Register Start Time
                        </label>
                        <input 
                            type="datetime-local"
                            id="registerStartTime"
                            class="form-control"
                            [(ngModel)]="tournament.registerStartTime"
                            name="registerStartTime"
                        >
                    </div>
                    <div class="col-xs-6 col-sm-3 form-group text-center">
                        <label for="registerEndTime">
                            Register End Time
                        </label>
                        <input 
                            type="datetime-local"
                            id="registerEndTime"
                            class="form-control"
                            [(ngModel)]="tournament.registerEndTime"
                            name="registerEndTime"
                        >
                    </div>
                    <div class="col-xs-6 col-sm-3 form-group text-center">
                        <label for="activeStartTime">
                            Active Start Time
                        </label>
                        <input 
                            type="datetime-local"
                            id="activeStartTime"
                            class="form-control"
                            [(ngModel)]="tournament.activeStartTime"
                            name="activeStartTime"
                        >
                    </div>
                    <div class="col-xs-6 col-sm-3 form-group text-center">
                        <label for="activeEndTime">
                            Active End Time
                        </label>
                        <input 
                            type="datetime-local"
                            id="activeEndTime"
                            class="form-control"
                            [(ngModel)]="tournament.activeEndTime"
                            name="activeEndTime"
                        >
                    </div>
                </div>
            </section>

            
            <div class="row" id="button-row">

                <div class="col-xs-6 col-sm-3">
                    <div class="btn-group app-button-container">
                        <button
                            class="btn btn-primary dropdown-toggle"
                            type="button"
                        >
                            Load Preset<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="#">New Tournament</a></li>
                            <li><a href="#">Edit Tournament</a></li>
                            <li><a href="#">Cancel Tournament</a></li> -->
                        </ul>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-9">
                    <div class="row">

                        <div class="col-xs-12 col-sm-4 app-button-container">
                            <button
                                class="btn btn-success"
                                type="submit"
                                (click)="onSubmit()"
                            >
                                Submit
                            </button>
                        </div>
        
                        <div class="col-xs-12 col-sm-4 app-button-container">
                            <button
                                class="btn btn-primary"
                                type="button"
                                (click)="onClearForm()"
                            >
                                Clear
                            </button>
                        </div>
        
                        <div class="col-xs-12 col-sm-4 app-button-container">
                            <button
                                class="btn btn-danger"
                                type="button"
                                [routerLink]="['/tournaments', 'view']"
                            >
                                Cancel
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


<!-- 
<div class="row">
    <div class="col-xs-12"> -->
      <!-- <form [formGroup]="tournamentForm"> -->
    <!-- <form>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="tournamentForm.controls['name'].invalid && tournamentForm.controls['name'].touched" class="alert alert-danger">
              Name is required.
            </div>
          </div>
          <div class="col-sm-2 form-group">
            <label for="initialPoolLowerSize">Initial Pool Lower Size</label>
            <input type="number" id="initialPoolLowerSize" class="form-control" formControlName="initialPoolLowerSize">
            <div *ngIf="tournamentForm.controls['initialPoolLowerSize'].invalid && tournamentForm.controls['initialPoolLowerSize'].touched" class="alert alert-danger">
              Initial Pool Lower Size is required and must be a number.
            </div>
          </div>
          <div class="col-sm-2 form-group">
            <label for="initialPoolUpperSize">Initial Pool Upper Size</label>
            <input type="number" id="initialPoolUpperSize" class="form-control" formControlName="initialPoolUpperSize">
            <div *ngIf="tournamentForm.controls['initialPoolUpperSize'].invalid && tournamentForm.controls['initialPoolUpperSize'].touched" class="alert alert-danger">
              Initial Pool Upper Size is required and must be a number.
            </div>
          </div>
          <div class="col-sm-2 form-group">
            <label for="deckMaxSize">Deck Max Size</label>
            <input type="number" id="deckMaxSize" class="form-control" formControlName="deckMaxSize">
            <div *ngIf="tournamentForm.controls['deckMaxSize'].invalid && tournamentForm.controls['deckMaxSize'].touched" class="alert alert-danger">
              Deck Max Size is required and must be a number.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="onlyMonoDecks">Only Mono Decks</label>
            <input type="checkbox" id="onlyMonoDecks" class="form-control" formControlName="onlyMonoDecks">
          </div>
          <div class="col-sm-2 form-group">
            <label for="sharedPool">Shared Pool</label>
            <input type="checkbox" id="sharedPool" class="form-control" formControlName="sharedPool">
          </div>
          <div class="col-sm-2 form-group">
            <label for="fixedDecks">Fixed Decks</label>
            <input type="checkbox" id="fixedDecks" class="form-control" formControlName="fixedDecks">
          </div>
        </div>
    </form>
</div>
   -->