@import "../../../styles/main-theme.scss";
@import "../../../styles/fonts.scss";

#tournament-info-container {
    margin-top: 52px;
    margin-bottom: 6px;
    width: 55%;
    background-color: $primary-light;
    border-radius: 10%;

    & > * {
        padding-left: 35px;
    }
}

#tournament-name {
    padding-top: 10px;
}

#tournament-status {
    padding-bottom: 10px;
}

div#tournament-info-container > div.col-md-12 {
    & > h1 {
        font-family: $semi-bold;
        font-size: x-large;
    }

    & > p {
        font-family: $regular;
        font-size: medium;
    }
}
