<div class="row">
    <div class="col-xs-6">
        <button
            [routerLink]="['/tournaments','create']"
            class="button btn-success"
            
        >
            Host Tournament
        </button>
    </div>
    <div class="col-xs-6">
        <label class="toggle pull-right">
            <input 
                type="checkbox"
                (change)="onToggleChange()"   
            >
            <span 
                class="labels"
                data-on="Current"
                data-off="Archived"
                (onclick)="toggleCurrentTournaments=!toggleCurrentTournaments"  
            >
            </span>
        </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <app-tournament-item
            *ngFor="let tournamentElement of tournaments"
            [tournament]="tournamentElement"
        />
    </div>
</div>
<hr>