<div class="row">
    <div class="col-xs-7">
        <button
            class="button btn-success"
            (click)="onDefineTournament()"
        >
            Host Tournament
        </button>
    </div>

    <label class="toggle">
        <input 
            type="checkbox"
            (change)="onToggleChange()"    
        >
        <span 
            class="labels" 
            data-on="Current" 
            data-off="Archived"
            (onclick)="toggleCurrentTournaments=!toggleCurrentTournaments"
        >
        </span>
    </label>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <app-tournament-item
            *ngFor="let tournamentElement of getTournaments()"
            [tournament]="tournamentElement"
            (tournamentItemSelect)="onTournamentSelected(tournamentElement)"
        />
    </div>
</div>
