$indigo-default: #3F51B5;
$indigo-light: #C5CAE9;
$indigo-dark: #303F9F;

$orange-default: #FFAB40;
$orange-light: #FFD180;
$orange-dark: #FF9100;

$white: #ffffff;
$black: black;

$gray-default: #4d4d4d;
$gray-light: rgba(255, 255, 255, 0.4);
$gray-dark: rgba(0, 0, 0, 0.4);
