@import './color-variables';

$primary-default: $indigo-default;
$primary-light: $indigo-light;
$primary-dark: $indigo-dark;

$secondary-default: $orange-default;
$secondary-light: $orange-light;
$secondary-dark: $orange-dark;

$background-image: url("/src/assets/images/Zid.png");
