<div
    class="row"
    *ngIf="currentPage === routesManager.tournamentsView; else tournamentDefine"
>
    <div class="col-md-3">
        <app-tournament-list
            (openCreateForm)="onOpenedCreateForm()"
        />
    </div>

    <div class="col-md-9">
        <app-tournament-detail
            [tournament]="selectedTournament"
            *ngIf="selectedTournament; else infoText">
        </app-tournament-detail>

        <ng-template #infoText>
            <p>You can select a tournament from the list on left to see its details!</p>
        </ng-template>
    </div>
</div>

<ng-template #tournamentDefine>
    <div class="row">
        <div class="col-md-12">
            <app-tournament-form
                (formSubmit) = "onTournamentCreated($event)"
                (cancel) = "onCancelTournamentCreate()"
            />
        </div>
    </div>
</ng-template>
