$left-col-width: 700px;//44rem

#left-col {
    width: $left-col-width;
}

#right-col {
    margin-left: $left-col-width;
}

// .container-fluid {
//     max-width: $left-col-width + 8rem; // 8rem is the default padding used by Bootstrap
// }
