<a
    routerLink="./"
    class="list-group-item clearfix app-list-item"
    [ngClass]="{
        fire: isCoverCardFromCivilization('fire'),
        water: isCoverCardFromCivilization('water'),
        nature: isCoverCardFromCivilization('nature'),
        light: isCoverCardFromCivilization('light'),
        darkness: isCoverCardFromCivilization('darkness'),
        none: !isCoverCardFromAnyCivilization()
    }"
    appOpacity
    [defaultOpacity]="1"
    [hoverOpacity]="0.9"
    (click)="onSelect()"
>
    <span class="pull-left">
        <img
            [src]="this.deck.coverCardImgUrl"
            alt="{{this.deck.name}}"
            class="img-responsive img-card"
        >
    </span>
    <div class="pull-left deck-item-info-container">
        <h4 class="list-group-item-heading app-list-item-heading">{{this.deck.name}}</h4>
        <p class="list-group-item-text app-list-item-text">{{this.deck.tournamentId}}</p>
    </div>
</a>
