@import "../../../styles/main-theme.scss";
@import "../../../styles/fonts.scss";

#pool-container {
    margin-top: 40px;
}

#pool-title-container {
    margin-left: 8px;
    max-width: min(300px, calc(100% * 3 / 5));

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background-color: $primary-light;
}

#pool-title {
    font-size: xx-large;
    font-family: $regular;
}

.pool-ribbon {
    background-color: $primary-default;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    text-align: center;
}

.pool-ribbon * {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: larger;
    font-family: $semi-bold;
}

.pool-ribbon > section {
    height: 180px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.pool-ribbon label {
    align-self: center;
    font-size: xx-large;
    font-family: $bold;
}

$margin-vertical: 30px;
#card-pile-container {
    padding-top: $margin-vertical;
    background-color: $primary-light;

    & > * {
        background-color: $primary-light;
    }
}

app-card-pile {
    margin-bottom: $margin-vertical;
}
