<head>
    <!-- Add the following code in the <head> section of your HTML file -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<div class="container" id="pool-container">
    <div class="row">
        <div
            class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12"
            id="pool-title-container"
        >
            <h1 id="pool-title">Card Pool</h1>
        </div>
    </div>

    <div 
        id="pool-content"
        *ngIf="cards"
    >
        <div class="row pool-ribbon">
            <div class="col-sm-12 col-md-6 col-lg-3" id="name-container">
                <div class="row">
                    <label for="card-name-input">Card name</label>
                    <button
                        id="sort-by-name"
                        class="sort-button"
                        (click)="setSortBy('name')"
                    >
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </div>
                <input 
                    id="card-name-input" 
                    type="text" 
                    placeholder="Search by card name"
                    [(ngModel)]="cards.nameFilter"
                >
            </div>

            <div class="col-sm-6 col-md-6 col-lg-2" id="mana-container">
                <div class="row">
                    <label for="mana-input">Mana</label>
                    <button
                        id="sort-by-mana"
                        class="sort-button"
                        (click)="setSortBy('manaCost')"
                    >
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2" id="civilization-container">
                <div class="row">
                    <label for="civilization-select">Civilization</label>
                    <button
                        id="sort-by-civilization"
                        class="sort-button"
                        (click)="setSortBy('civilization')"
                    >
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </div>
                <select 
                    id="civilization-select"
                    [(ngModel)]="cards.civilizationFilter"
                >
                    <option value="">All</option>
                    <option *ngFor="let civilization of cards.civilizations" [value]="civilization">
                        {{ civilization }}
                    </option>
                </select>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3" id="race-container">
                <div class="row">
                    <label for="race-select">Race</label>
                    <button
                        id="sort-by-race"
                        class="sort-button"
                        (click)="setSortBy('race')"
                    >
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </div>
                <select
                    id="race-select"
                    [(ngModel)]="cards.raceFilter"
                >
                    <option value="">All</option>
                    <option *ngFor="let race of cards.races" [value]="race">
                        {{ race }}
                    </option>
                </select>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2" id="set-container">
                <div class="row">
                    <label for="set-select">Set</label>
                    <button
                        id="sort-by-set"
                        class="sort-button"
                        (click)="setSortBy('set')"
                    >
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </div>
                <select
                    id="set-select"
                    [(ngModel)]="cards.setFilter"
                >
                    <option value="">All</option>
                    <option *ngFor="let set of cards.sets" [value]="set">
                        {{ set }}
                    </option>
                </select>
            </div>
        </div>
        

        <div class="row" id="card-pile-container">
            <app-card-pile
                class="gallery_product col-xs-6 col-sm-4 col-md-4 col-lg-3 filter hdpe"
                *ngFor="let cardElement of cards.filteredAndSorted()"
                [card]="cardElement"
            />
        </div>
    </div>
</div>
