@import "../../../styles";
@import "../../../fonts.scss";

// .container {
//     background-color: $indigo-light;
// }

#pool-title {
    background-color: $indigo-light;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 8px;
}

#gallery-title {
    font-size: xx-large;
    font-family: $regular;
}

#pool-content {
    border-radius: 10px;
    width: auto;
}

.pool-ribbon {
    background-color: $indigo-default;
    border-radius: 10px;

    text-align: center;
}

.pool-ribbon * {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: larger;
    font-family: $semi-bold;
}

.pool-ribbon label {
    align-self: center;
    font-size: xx-large;
    font-family: $bold;
}

.pool-container {
    padding-top: 10px;
    background-color: $indigo-light;

    & > * {
        background-color: $indigo-light;
    }
}
