@import './fonts.scss';

/// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}

$custom-container-padding-x-xs: 5px;
$custom-container-padding-x-sm: 20px;
$custom-container-padding-x-md: 40px;
$custom-container-padding-x-lg: 60px;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: $screen-sm-min - 1;

@media screen and (max-width: $screen-xs-max) {
    .custom-container {
        @include make-container($custom-container-padding-x-xs);
    }
}
@media screen and (min-width: $screen-sm-min) {
    .custom-container {
        @include make-container($custom-container-padding-x-sm);
    }
}
@media screen and (min-width: $screen-md-min) {
    .custom-container {
        @include make-container($custom-container-padding-x-md);
    }
}
@media screen and (min-width: $screen-lg-min) {
    .custom-container {
        @include make-container($custom-container-padding-x-lg);
    }
}

$indigo-default: #3F51B5;
$indigo-light: #C5CAE9;
$indigo-dark: #303F9F;

$orange-default: #FFAB40;
$orange-light: #FFD180;
$orange-dark: #FF9100;

$white: #ffffff;

$gray-default: #4d4d4d;
$gray-light: rgba(255, 255, 255, 0.4);
$gray-dark: rgba(0, 0, 0, 0.4);

html, body { height: 100%; }
body {
    margin: 0;
    font-family: $regular, Roboto, "Helvetica Neue", sans-serif;
    background-color: $indigo-light;
    background-image: url("./assets/images/Zid.png");
}

.card-item {
    border-radius: 3.3%;
    max-height: 400px
}

button {
    font-family: $regular;
    font-size: 16px;
}
