@import './styles/fonts.scss';
@import './styles/main-theme.scss';
@import './styles/app-list-item-styles.scss';


html, body { height: 100%; }
body {
    margin: 0;
    font-family: $regular, Roboto, "Helvetica Neue", sans-serif;
    background-color: $primary-light;
    background-image: $background-image;
    
    background-image: url("./assets/images/Zid.png");
}

.img-card {
    border-radius: 3.3%;
    max-height: 400px
}

button {
    font-family: $regular;
    font-size: 16px;
}
